.signal-with-sequence-container {
  .trigger-chain-wrapper {
    .feedback-line {
      width: 12%;
      left: 6%;
    }
    .line-out {
      right: 14%;
      width: 8%;
    }

    .xor-wrapper {
      width: 70%;

      .white-holder {
        width: 27%;
      }
    }

    .feedback-arrow {
      left: 15%;
      top: 49px;
    }

    .arrow-out {
      right: 13%;
      top: 49px;
    }
  }

  pre {
    word-break: break-all;
  }

}