.trigger-chain-wrapper {
  position: relative;
  text-align: center;

  .feedback-line {
    display: inline-block;
    position: absolute;
    height: 150px;
    left: 8%;
    top: 57px;
    width: 3%;
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }


  .feedback-arrow, .arrow-out {
    display: inline-block;
    background-image: url("../assets/arrow.png");
    width: 20px;
    height: 20px;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .feedback-arrow {
    left: 9%;
    top: 49px;
  }

  .arrow-out {
    right: 7%;
    top: 49px;
  }



  .line-out {

    display: inline-block;
    position: absolute;
    width: 7%;
    border-bottom: 4px solid black;
    top: 57px;
    right: 8%;
  }

  .trigger-chain {
    display: table;
    width: 100%;
    border-spacing: 15px;
    margin-bottom: 70px;
  }

  .xor-wrapper {
    display: inline-block;
    width: 83%;
    position: relative;
    border-bottom: 4px solid black;


    .white-holder {
      display: inline-block;
      position: absolute;
      background: white;
      width: 16%;
      height: 10px;
      top: -2px;
      right: -7%;
    }
  }

}