doctype html
html
  head
    link(rel="stylesheet" href="./css/main.css")
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="#") #{texts.commonTexts.mainHeader}
    block content