.trigger {
  display: table-cell;
  position: relative;
  height: 90px;
  border: 1px solid #ccc;
  vertical-align: middle;

  .value {
    display: block;
    font-size: 20px;
    text-align: center;
  }

  .number {
    position: absolute;
    bottom: 8px;
    right: 5px;
  }

  .checkbox {
    position: absolute;
    bottom: -94px;
    height: 80px;

    .line-through {
      display: none;
      position: absolute;
      left: 22px;
      bottom: -15px;
      height: 100%;
      border-left: 1px solid black;
    }

    &.checked {
      .line-through {
        display: inline-block;
      }
    }
  }
}