extends ./common/header
block content
  div.container-fluid
    h3 #{texts.adminTable.selectTheGroup}
    ul
      - for (var i = 0, max = groups.length; i < max; i += 1) {
        li
          a(href="/admin/group/" + groups[i]) #{groups[i]}
      - }